In [11]:
#1
import random

lst = [random.randint(1, 10) for i in range(10)]
print(lst)
val = int(input('Введите число: '))


def f(arr, val):
    new_lst = []
    for item in arr:
        if item % val == 0:
            new_lst.append(item)
    return new_lst

print(f(lst, val))

[4, 4, 1, 8, 10, 5, 6, 1, 9, 2]
Введите число: 2
[4, 4, 8, 10, 6, 2]

In [118]:
#2
import random
a=[random.randint(1, 10) for i in range(10)]
print(a)
def f(a):
    b=[]
    for i in range(len(a)):
        if (i+1) %5 == 0:
            b.append(a[i]*2)
        if (i+1) %3 != 0:
            b.append(a[i])        
    return b
print(f(a))

[6, 10, 2, 7, 10, 8, 3, 9, 3, 2]
[6, 10, 7, 20, 10, 3, 9, 4, 2]

In [41]:
#3
import random

a = [random.randint(1, 10) for i in range(10)]

print(a)

n = int(input('Введите число: '))


def f(a, n):
    sum = 0
    for i in a:
        if i == n:
            sum += 1
    return sum

print(f(a, n))

[4, 1, 6, 2, 2, 6, 10, 5, 2, 9]
Введите число: 2
3

In [82]:
#4
import random

a = [random.randint(1, 10) for i in range(12)]
print(a)

def f(arr):
    new_lst = []
    i = 0
    for _ in range(int( len(arr) / 3) ):
        a = arr[i:i+3]
        new_lst.extend(a[::-1])
        i += len(a)
    return new_lst

print(f(a))

[3, 2, 8, 2, 5, 6, 4, 3, 3]
[8, 2, 3, 6, 5, 2, 3, 3, 4]

In [49]:
#5
import random
a=[random.randint(1, 10) for i in range(10)]
b=[random.randint(1, 10) for i in range(10)]
print(a)
print(b)
def f(a,b):
    c=[]
    for i in range(len(a)):
        c.append(a[i]-b[i])
    return c
print(f(a,b))

[8, 8, 7, 3, 1, 9, 1, 2, 4, 5]
[4, 8, 9, 4, 7, 9, 9, 9, 3, 2]
[4, 0, -2, -1, -6, 0, -8, -7, 1, 3]

In [99]:
#6
import random

a = [random.randint(1, 10) for i in range(10)]
print(a)


def f(lst):
    new_lst = []
    works = []
    for item in lst:
        # print(item in new_lst)
        if item in works:
            continue
        new_lst.append(lst.count(item))
        works.append(item)
    return new_lst

print(f(a))

[1, 8, 8, 9, 6, 3, 1, 8, 4, 1]
[3, 3, 1, 1, 1, 1]

In [92]:
#7+
import random
a=[random.randint(-10, 10) for i in range(10)]
print(a)


def f(lst):
    return sorted([i for i in lst if i > 0])

print(f(a))

[-7, 6, -10, 8, 4, 7, -6, -7, 9, -2]
[4, 6, 7, 8, 9]

In [114]:
#8+
n=int(input('Введите число: '))
a=list(range(0,n-2))
print('Исходный список:', a)
def f(n,a):
    b = list()
    for i in range(0, n):
        if i not in a:
            b.append(i)
    return b
print(f(n,a))

Введите число: 4
Исходный список: [0, 1]
[2, 3]

## Часть 2

### №1

In [120]:
#2.1
import numpy as np
import pandas as pd

data=pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/master/Big_Data/Seminar_4/data_1.csv")
display(data)

,ФИО,Дата рождения,Пол,Дата приема на работу,Оклад,Семейное положение,Кол-во детей
0,Алистратов А.А.,27.10.1975,м,08.09.1997,4000,женат,1.0
1,Анохин Н.И.,11.12.1948,м,23.05.1986,5000,разведен,1.0
2,Антонова И.П.,04.12.1951,ж,09.05.1988,4300,замужем,1.0
3,Артемова Г.А.,06.08.1979,ж,05.09.1997,4500,незамужем,NaN
4,Афоничева Л.К.,09.01.1952,ж,05.10.1985,4900,замужем,1.0
...,...,...,...,...,...,...,...
95,Шафеева Н.К.,29.07.1939,ж,09.12.1985,4500,замужем,1.0
96,Шиманюк Н.И.,06.11.1979,м,23.11.1998,4000,холост,NaN
97,Элиава Т.М.,19.05.1981,м,10.09.1997,3700,холост,NaN
98,Якимова Н.М.,16.05.1973,ж,07.09.1999,3000,замужем,2.0
99,Яфарова Т.Н.,04.09.1945,ж,21.03.1986,4000,замужем,2.0

### №2

In [ ]:
data['Дата рождения'] = pd.to_datetime(data['Дата рождения'])
data['Дата приема на работу'] = pd.to_datetime(data['Дата приема на работу'])

man = data[data['Пол'] == 'м']
female = data[data['Пол'] == 'ж']

lst = []

for item in female['Дата рождения']:
    lst.append(calculate_age(item))

female['возраст'] = lst
print(female )

lst = []

for item in man['Дата приема на работу']:
    lst.append(calculate_age(item))

man['стаж'] = lst
print(man)

### №3

In [ ]:
print(data[(data['Кол-во детей']>0) & (data['Оклад']<data['Оклад'].mean())])

### №4

In [ ]:
lst = []

for item in data['Дата рождения']:
    lst.append(calculate_age(item))

data['возраст'] = lst
print(data.loc[(data['возраст'] % 5) ==0])

### №5

In [ ]:
new_df = pd.DataFrame(columns=['Женат', 'Замужем', 'Холост', 'Незамужем', 'Разведен', 'Разведена'])
    new_df.loc[0, 'Женат'] = data[data['Семейное положение'] == 'женат']['Семейное положение'].count()
    new_df.loc[0, 'Замужем'] = data[data['Семейное положение'] == 'замужем']['Семейное положение'].count()
    new_df.loc[0, 'Холост'] = data[data['Семейное положение'] == 'холост']['Семейное положение'].count()
    new_df.loc[0, 'Незамужем'] = data[data['Семейное положение'] == 'незамужем']['Семейное положение'].count()
    new_df.loc[0, 'Разведен'] = data[data['Семейное положение'] == 'разведен']['Семейное положение'].count()
    new_df.loc[0, 'Разведена'] = data[data['Семейное положение'] == 'разведена']['Семейное положение'].count()
    print(new_df)